<!doctype html>
<html lang="en">
    <head>
            <!--¿Qué estás tramando, eh? ¿Buscando secretos ocultos? No metas la nariz donde no te llaman, pequeño curioso. ¡Cuidado, podrías descubrir algo que no te gustará en absoluto, y entonces será demasiado tarde...! Ja ja ja. -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="description" content="Descubre el portafolio de CJ Montero, un desarrollador web front-end de la República Dominicana. Aquí podrás explorar proyectos innovadores que utilizan HTML, CSS, TypeScript y mucho más. ¡No dudes en contactarme!">
        <meta name="generator" content={Astro.generator} />
        <title>CJ Montero | Portafolio</title>
    </head>
    <body class="min-h-screen relative">
        <div class="fixed top-0 left-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
        <slot />
    </body>
</html>
